.home-bar-title {
    font-family:TitleFont;
    font-size:200%;
}

.postIcon {
    max-width: 24px;
    max-height: 24px;
    content: url("/images/postIcon.png");
}
    .postIcon:hover {
        content: url("/images/postIconHover.png");
    }

@font-face {
    font-family: "TitleFont";
    src: url("../fonts/ReachMeFont.otf");
}
