@model DomainLayer.Dto.NavigationDto
@using DomainLayer.Model
@using ServiceLayer.Service.Implementation
@using Microsoft.AspNetCore.Http;
@using System.Security.Claims;
@using System.IdentityModel.Tokens.Jwt
@inject HttpContextAccessor httpContextAccessor
@inject UserService Service

@{
    ViewData["Title"] = "Index";
    int GetCurrentId()
    {
        var token = httpContextAccessor.HttpContext.Request.Cookies["Jwt"];
        var handler = new JwtSecurityTokenHandler();
        var jwtSecurityToken = handler.ReadJwtToken(token);
        var tokenS = jwtSecurityToken as JwtSecurityToken;
        return int.Parse(tokenS.Claims.First(claim => claim.Type == ClaimTypes.NameIdentifier).Value);
    }
    User currentUser = (Model.CurrentUser == null) ? Service.GetUser(GetCurrentId().ToString()) : Model.CurrentUser;
}

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand home-bar-title">Reach Me</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="User" asp-action="Home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="User" asp-action="Index">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="User" asp-action="Discover">Discover</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="User" asp-action="Account">Account</a>
                    </li>
                </ul>
                <form class="input-group w-25 justify-content-end" method="post" asp-controller="Navigation" asp-action="Search">
                    <input type="text" class="form-control rounded" asp-for="@Model.SearchString" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                    <input type="submit" class="btn btn-outline-primary" value="Search">
                </form>
                <ul class="navbar-nav flex-grow-1 d-flex justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Navigation" asp-action="Post"><img class="postIcon" /></a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-danger" asp-controller="Home" asp-action="Logout">Logout</a>
                    </li>
                </ul>
                <div class="flex ml-1 text-center">
                    @if (currentUser.ProfilePic != null)
                    {
                        <img class="navbar-picture rounded-circle" src="data:image/jpg;base64,@currentUser.ProfilePic" />
                    }
                    else
                    {
                        <img class="navbar-picture rounded-circle" src="~/images/defaultProfilePicture.jpeg" />
                    }
                    <p>@currentUser.Username</p>
                </div>
            </div>
        </div>
    </nav>
</header>
