@model DomainLayer.Model.User
@using ServiceLayer.Service.Implementation
@inject UserService Service

<div class="d-flex justify-content-center p-3 w-100">
    <div class="card-columns">
        @foreach (var post in Service.GetAllPosts(Model.Id))
        {
            <div class="card">
                <div class="card-img">
                    <img style="height:100%; width:100%;" src="data:image/jpg;base64,@post.ImageData" />
                </div>
            </div>
            <div class="card-footer text-center">
                <small class="text-muted">
                    <button data-toggle="modal" data-target="#productModal" class="btn-primary">
                        View
                    </button>
                </small>
            </div>
        }
    </div>
</div>
