
@{
    ViewData["Title"] = "Index";
}
@using ReachMeApp.Components;

@(await Html.RenderComponentAsync<NavigationBar>(RenderMode.ServerPrerendered))
<script src="_framework/blazor.server.js"></script>

<h1>Home</h1>

