@model DomainLayer.Model.User
@using DomainLayer.Dto
@using DomainLayer.Model
@using ServiceLayer.Service.Implementation
@using ReachMeApp.Components
@using Microsoft.AspNetCore.Http;
@using System.Security.Claims;
@using System.IdentityModel.Tokens.Jwt
@inject HttpContextAccessor httpContextAccessor
@inject UserService Service

@{
    ViewData["Title"] = "Home";
    List<Post> myPosts = Service.GetAllFollowingPosts(Model.Id);
    List<Post> folowingsPosts = Service.GetAllFollowingPosts(GetCurrentId());
    int GetCurrentId()
    {
        var token = httpContextAccessor.HttpContext.Request.Cookies["Jwt"];
        var handler = new JwtSecurityTokenHandler();
        var jwtSecurityToken = handler.ReadJwtToken(token);
        var tokenS = jwtSecurityToken as JwtSecurityToken;
        return int.Parse(tokenS.Claims.First(claim => claim.Type == ClaimTypes.NameIdentifier).Value);
    }
}

@Html.Partial("NavigationBar", new NavigationDto())

<h1>Home</h1>

@if (myPosts.Count > 0)
{
    @(await Html.RenderComponentAsync<PostsList>(RenderMode.ServerPrerendered, new {MyId = GetCurrentId(), UserId = Model.Id, Posts = Service.GetAllFollowingPosts(GetCurrentId()) }))
}
else
{
    <div class="text-center">
        <h1 class="display-4">No posts to show</h1>
        <h5>Users that you follow haven't posted anything yet. When they post something, it will be shown here.</h5>
    </div>
}

<script src="_framework/blazor.server.js"></script>