@model DomainLayer.Model.User

@{
    ViewData["Title"] = "Index";
}

@Html.Partial("NavigationBar")

<div class="d-flex flex-row">
    <div class="box-shadow w-25 d-flex flex-column align-items-center">
        <img src="~/images/homeBackground.jpg" class="w-75 h-auto rounded-circle border-info" />
        <p>@Model.Username</p>
        <p>@Model.ProfileBio</p>
        @if (Model.Posts == null)
        {
            <p>Posts: 0</p>
        }
        else
        {
            <p>@Model.Posts.Count</p>
        }

    </div>
    <div class="bg-light w-75">
        <p>Posts</p>
    </div>
</div>
