@{
    ViewData["Title"] = "Home";
}
@using ReachMeApp.Components

@(await Html.RenderComponentAsync<HomeBar>(RenderMode.ServerPrerendered))
<script src="_framework/blazor.server.js"></script>

<link rel="stylesheet" href="~/css/HomeCSS.css" />

<div class="text-center">
    <h1 class="display-4">Welcome to Reach Me</h1>
    <h3>Stay in touch with your friends</h3>
</div>
