@model DomainLayer.Dto.RegisterDto
@using ReachMeApp.Components

@{
    ViewData["Title"] = "Register";
}

@(await Html.RenderComponentAsync<HomeBar>(RenderMode.ServerPrerendered))
<script src="_framework/blazor.server.js"></script>

<link rel="stylesheet" href="~/css/HomeCSS.css" />

<div class="d-flex flex-column align-items-center">
    <h1>You don't have an account?</h1><br />
    <h3>Register now</h3>
</div>

<hr />

<div class="d-flex justify-content-center">
    <div class="col-md-4">
        <form asp-action="Register">
            @if (TempData.ContainsKey("ErrorMessage") == true)
            {
                <span class="text-danger">Email or Username already in use</span>
            }
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Email" class="form-control" placeholder="E-mail" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Username" class="form-control" placeholder="Username" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="password" asp-for="Password" class="form-control" placeholder="Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="password" asp-for="RepeatPassword" class="form-control" placeholder="Repeat password" />
                <span asp-validation-for="RepeatPassword" class="text-danger"></span>
            </div>
            <div class="form-group d-flex justify-content-center">
                <input type="submit" value="REGISTER" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
