@{
    ViewData["Title"] = "Verify Email";
}
@using ReachMeApp.Components

@(await Html.RenderComponentAsync<HomeBar>(RenderMode.ServerPrerendered))
<script src="_framework/blazor.server.js"></script>

<link rel="stylesheet" href="~/css/HomeCSS.css" />

<div class="text-center">
    <h1 class="display-4">Welcome to ReachMe</h1>
    <h3>Your account is now verified!</h3>
</div>