@model DomainLayer.Dto.PostDto
@using DomainLayer.Dto

@{
    ViewData["Title"] = "Post Picture";
}

@Html.Partial("NavigationBar", new NavigationDto())

<div class="d-flex flex-column align-items-center">
    <h1>Want to share your photo?</h1><br />
    <h3>Upload it here</h3>
</div>

<div class="d-flex justify-content-center">
    <div class="col-md-4">
        <form asp-action="Post" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <input type="hidden" asp-for="UserId" class="form-control" />
            </div>
            <div class="form-group">
                <input asp-for="Description" class="form-control" placeholder="Description" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="ImageFile" class="form-control" placeholder="Image" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group d-flex justify-content-center">
                <input type="submit" value="POST" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>