@model List<DomainLayer.Model.User>
@using DomainLayer.Dto
@using ReachMeApp.Components

@{
    ViewData["Title"] = "Search";
}

@Html.Partial("NavigationBar", new NavigationDto())

<div class="d-flex flex-column align-items-center">
    <h1>Your searching results</h1><br />
</div>

@(await Html.RenderComponentAsync<ShowUsers>(RenderMode.ServerPrerendered, new { Users = Model}))

<script src="_framework/blazor.server.js"></script>